@use 'sass:map';
@use '@angular/material' as mat;

/**
* Mixin to style vgl-game-header component
*/
@mixin vgl-button-theme($theme) {

  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');

  $component-theme-color: $primary;
  $level: 500;
  $level-contrast: $level + '-contrast';

  // For now style mat-button. Later create own button component
  button {
      .button-icon {
        margin-right: 10px;
      }
  }
}
