<div class="container" fxLayout="column">
  <header>
    <nav role="nav">

      <vgl-nav color="primary">
        <!-- Hamburger button -->
        <a mat-icon-button aria-label="Expand Collapse Side navigation">
          <mat-icon>menu</mat-icon>
        </a>

        <!-- Homepage -->
        <a routerLink="/" mat-button aria-label="Homepage link">
          <mat-icon class="icon-homepage">sports_esports</mat-icon>
          <span>{{ ('components.index.title' | translate) | uppercase }}</span>
        </a>


        <!-- <span fxFlex="1 1 auto"></span> -->

        <a *ngFor="let platform of (platforms$ | async)" mat-button [routerLink]="['platform', platform.slug]">{{platform.name}}</a>
      </vgl-nav>
    </nav>
  </header>

  <main fxLayout="column">
        <router-outlet></router-outlet>
  </main>
</div>
