<h2>Index</h2>
<p>Welcome</p>

<section>
    <div fxLayout="row wrap" fxLayoutGap="16px">

        <mat-card fxFlex="0 1 calc(25% - 16px)">
            <mat-card-header>
                <mat-card-title><h3>Game 1</h3></mat-card-title>
                <mat-card-subtitle><h4>PS2</h4></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Lorem amet dolore do tempor nostrud laborum aute cupidatat cupidatat.
                </mat-card-content>
        </mat-card>

        <mat-card fxFlex="0 1 calc(25% - 16px)">
            <mat-card-header>
                <mat-card-title><h3>Game 1</h3></mat-card-title>
                <mat-card-subtitle><h4>PS2</h4></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Lorem amet dolore do tempor nostrud laborum aute cupidatat cupidatat.
                </mat-card-content>
        </mat-card>

        <mat-card fxFlex="0 1 calc(25% - 16px)">
            <mat-card-header>
                <mat-card-title><h3>Game 1</h3></mat-card-title>
                <mat-card-subtitle><h4>PS2</h4></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Lorem amet dolore do tempor nostrud laborum aute cupidatat cupidatat.
                </mat-card-content>
        </mat-card>

        <mat-card fxFlex="0 1 calc(25% - 16px)">
            <mat-card-header>
                <mat-card-title><h3>Game 1</h3></mat-card-title>
                <mat-card-subtitle><h4>PS2</h4></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Lorem amet dolore do tempor nostrud laborum aute cupidatat cupidatat.
                </mat-card-content>
        </mat-card>

        <mat-card fxFlex="0 1 calc(25% - 16px)">
            <mat-card-header>
                <mat-card-title><h3>Game 1</h3></mat-card-title>
                <mat-card-subtitle><h4>PS2</h4></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Lorem amet dolore do tempor nostrud laborum aute cupidatat cupidatat.
                </mat-card-content>
        </mat-card>


    </div>
</section>