@use 'sass:map';
@use '@angular/material' as mat;

// Import pallete
@import 'palette/palette';


$vgl-theme: mat.define-light-theme((
  color: (
    primary: $vgl-primary,
    accent: $vgl-accent,
    warn: $vgl-warn,
  )
));

// Import app's components themes
@import 'components/game-detail/theme';
@import 'components/game-header/theme';
@import 'components/tabs/theme';
@import 'components/button/theme';

/**
* Mixin to style all vgl-game-header component
*/
@mixin vgl-all-component-themes($theme) {

  @include vgl-game-detail-theme($theme);
  @include vgl-game-header-theme($theme);
  @include vgl-button-theme($theme);

  @include vgl-tabs-theme($theme);
}
