<header class="game-header">

  <div fxHide.lt-md fxFlex="0 0 20%"></div>

  <div fxLayout="row" fxLayoutGap="40px" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">

    <!-- Image thumbnail -->
    <div class="image-wrapper" fxLayout="row" fxLayoutAlign="center center" fxFlex="nogrow">
      <img class="thumbnail" [src]="game.thumbnailUrl">
    </div>

    <!-- Title / Subtitles -->
    <div class="header-left" fxLayout="column" fxFlex="noshrink">
      <h2 class="header-title mat-display-2">{{game.name}}</h2>
      <h5 class="header-subtitle mat-subheading-2">{{game.platform.name}}</h5>
      <h5 class="header-subtitle mat-subheading-1">Released: {{game.releaseDate | date:'dd MMM YYYY'}}</h5>
      <h5 class="header-subtitle mat-subheading-1">{{game.developer.name}}</h5>
      <div class="header-left-actions">
        <button
        mat-raised-button
        color="accent">
          <mat-icon class="button-icon">favorite</mat-icon>
          <span>Follow</span>
        </button>
      </div>
    </div>

    <!-- Spacer -->
    <div fxHide.lt-md fxFlex="1 1 auto"></div>

    <!-- Right section -->
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px 10px grid">
      <span>Rating: 10</span>
      <span>   <button
        mat-raised-button
        color="accent">
          <mat-icon class="button-icon">add</mat-icon>
          <span>Add to list</span>
        </button></span>
    </div>
  </div>

  <div fxHide.lt-md fxFlex="0 0 20%"></div>
</header>
