header {
  height: 250px;
  padding: 30px;
}

.thumbnail {
  width: 200px;
  height: 200px;
}

.header-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.header-subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.header-left-actions {
  margin-top: 10px;
}
